.LabCompleteDetail {
  margin-right: auto;
  width: 95%;
}
.LabCompleteDetail__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  height: 7vh;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.LabCompleteDetail_description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: -0.05em;

  color: #5d5d61;
}
.LabCompleteDetail_lab {
  width: 100%;
  text-align: end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  /* identical to box height */

  color: #5d5d61;
}
.LabCompleteDetail__details {

  background-color: white;
  width: 95%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.LabCompleteDetail__dataTable {
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, serif;
  border: 3px solid white;
  text-align: left;
  border-collapse: collapse;
}
.LabCompleteDetail__dataTable td,
.LabCompleteDetail__dataTable th {
  border: 2px solid #000000;
  padding: 6px 30px;
}
.LabCompleteDetail__dataTable tbody td {
  font-size: 13px;
  color: #000000;
}
.LabCompleteDetail__dataTable tfoot td {
  font-size: 12px;
}
