.Ecosistems{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}
.Ecosistems::after{
    position: absolute;
    left: -10%;
    top: 30%;
    z-index: -1;
    content: " ";
    background-color: var(--secundary-bg-color);
    width: 50%;
    height: 100%;
    
    border-radius: 100%;
}
.row{
    display: flex;
    height: 150px;

}

.one,.four{
    border: 1px solid blue;
    gap: 60px;
    align-items: center;
    justify-content: center;
    height: auto;
}
.two,.three{
    border: 1px solid red;
    justify-content: space-around;
    height: auto;
}
.center{
    border: 1px solid green;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    height: auto;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}

@media (max-width: 1500px) {
    .Bola {
      width: var(--Bola--desktop-size);
      height: var(--Bola--desktop-size);
    }
    .Bola:hover {
      scale: 1.2;
      cursor: pointer;
    }
  }