
.RightHeader_numberTitle{
    font-size: 4em;
    color: var(--main-title-color);
    font-family: var(--main-text-font);
    font-weight: 700;
}
.RightHeader_numberText{
    font-size: 2em;
    color: var(--secundary-text-color);
    font-family: var(--main-text-font);
    font-weight: 400;
    width: 10ch;
}
.RightHomeContent_left{ 
    display: flex;
    align-items: center;
    gap: 20px;
}
.RightHomeContent_left::after{
    content: " ";
    background-color: #192A67;
    width: 1px;
    height: 270px;
}
.RightHomeContent{
    display: flex;
    width: 100%;
    justify-content:center;
}
.RightHomeContent_right{ 
    display: flex;
    align-items: center;
    
}
.RightHomeContent_right_listContainer{
   height: fit-content;
   line-height: 2.2em;
   border-left: 20px;
   margin-left: 30px;
}
.RightHomeContent_right_listContainer>*{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px;
    min-height: 70px;
}

.RightHeader_numberSubtitle{
    font-size: 3em;
    color: var(--main-title-color);
    font-family: var(--main-text-font);
    font-weight: 700;
}
.RightHeader_numberSubtitle {
    vertical-align:top;
    position: relative;
    margin: 0px;
}
.bullet{
    background-color: #192A67;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.bullet > *{
    background-color: #192A67;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid white ;
}
.RightHeader_text{
    font-family: var(--main-text-font);
    color: var(--main-text-color);
    font-size: 25px;
    width: 15ch;
    margin: 0px;
}