
.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: row;
  overflow-x: hidden;
}
.App > *{
  flex: 1;
}
.App-leftSide{
  /* border: 1px solid red; */
  display: flex;
  gap:3vh;
  align-items: flex-start;
  align-content: center;
  justify-content: baseline;
  flex-direction: column;
}

.App-logo{
  /* border: 1px solid blue; */
  width: 13vw;
  margin-left: 3vw;
  margin-top: 3.5vh;
  /* align-self: center; */
}