@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
  --main-bg-color: #F5F5F5;
  --secundary-bg-color: #E2E2E2;
  --main-title-color: #192A67;
  --main-text-color:#130F26;
  --secundary-text-color: #000000;
  --main-text-font: 'Roboto', sans-serif;
  --main-blue-color: #192A67;

}

body {
  margin: 0;
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
